@font-face {
  font-family: "Armin_Grotesk";
  src: url(../Fonts/Fontspring-DEMO-armingrotesk-black.otf) format("opentype");
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Armin_Grotesk", sans-serif;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.navigation {
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(246, 246, 235);
  color: rgb(56, 31, 209);
  padding-inline: 1rem;
  padding-block: 1rem;
}
.navigation__container {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
}
.navigation__menu-group {
  align-items: center;
  display: flex;
}
.navigation__menu-group--right {
  display: flex;
  align-items: center;
}
.navigation__menu-group--left {
  align-items: center;
}
.navigation__menu-group--btn {
  gap: 1rem;
  display: flex;
  align-items: center;
}
@media (width < 850px) {
  .navigation__menu-group--btn {
    display: none;
  }
}