*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

.btn {
  cursor: pointer;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  background-color: oklch(0.4 0.1 150);
  color: oklch(0.9 0.1 150);
  text-transform: capitalize;
  transition: all 300ms ease-out;
  border-radius: 64rem;
  margin-top: 20px;
}
.btn:hover {
  background-color: oklch(0.4 0.1 240);
  color: oklch(0.9 0.1 240);
}
.btn--type-elevated {
  background-color: oklch(0.95 0.0025 150);
  color: oklch(0.45 0.1 150);
  box-shadow: 0px 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}
.btn--type-elevated:hover {
  background-color: oklch(0.95 0.0025 240);
  color: oklch(0.45 0.1 240);
  box-shadow: 0rem 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
}
.btn--type-tonal {
  background-color: oklch(0.8 0.05 150);
  color: oklch(0.3 0.1 150);
}
.btn--type-outline {
  color: oklch(0.4 0.1 150);
  background-color: unset;
  border: 0.0625rem solid oklch(0.5 0 150);
}
.btn--type-text {
  padding-inline: 12px;
  color: oklch(0.4 0.1 150);
  background-color: unset;
}
.btn--type-text:hover {
  background-color: unset;
  color: oklch(1 0 150);
  animation-name: "rainbow";
  animation-duration: 5000ms;
}

@keyframes rainbow {
  0% {
    background-color: oklch(0.5 0.2 0);
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(0rem, 0rem);
  }
  100% {
    background-color: oklch(0.5 0.2 240);
  }
}