*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

.btn {
  cursor: pointer;
  max-width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem; //0.375rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  background-color: oklch(0.4 0.1 150);
  color: oklch(0.9 0.1 150);
  text-transform: capitalize;

  //인터렉션
  &:hover {
    background-color: oklch(0.4 0.1 240);
    color: oklch(0.9 0.1 240);
  }
  transition: all 300ms ease-out; //0.3초

  border-radius: 64rem;
  //작업 편의성떄문에 임시로 작성
  // border: 1px solid #000;
  margin-top: 20px;

  &--type {
    &-elevated {
      background-color: oklch(0.95 0.0025 150);
      color: oklch(0.45 0.1 150);
      box-shadow: 0px 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: oklch(0.95 0.0025 240);
        color: oklch(0.45 0.1 240);
        box-shadow: 0rem 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
      }
    }
    &-tonal {
      background-color: oklch(0.8 0.05 150);
      color: oklch(0.3 0.1 150);
    }
    &-outline {
      color: oklch(0.4 0.1 150);
      background-color: unset;
      border: 0.0625rem solid oklch(0.5 0 150);
    }
    &-text {
      padding-inline: 12px;
      color: oklch(0.4 0.1 150);
      background-color: unset;

      &:hover {
        background-color: unset;
        color: oklch(1 0 150);
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: 4;
        animation-name: rainbow;
        animation-duration: 500ms; //keyframe은 duration지정도 필요하다.
        //animation-fill-mode : backward,forward등이 있다.
        //animation-direction:alternate 도 있다.
      }
    }
  }
}

@keyframes rainbow {
  //이름 설정 필요
  0% {
    background-color: oklch(0.5 0.2 0);
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(1rem, 0rem);
  }
  25% {
    transform: translate(1rem, 1rem);
  }
  25% {
    transform: translate(0rem, 1rem);
  }
  100% {
    background-color: oklch(0.5 0.2 240);
    transform: translate(0rem, 0rem);
  }
}
