*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

p {
  margin-block: 0;
}

.grid {
  max-width: 60rem;
  margin-inline: auto;
  display: grid;
  padding-inline: 1.5rem;
  background-color: oklch(0.95 0 0);
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.text {
  animation-name: reveal;
  animation-timeline: view();
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}